body{
    background-color: rgb(184, 215, 255);
}

.primeiraparte{
    background-color: violet;
}

.foto{
    width: 400px;
}

.estudantes{
    display: flex;
}
.fotos{
    width: 150px;
}
.cadaum {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.fotos{
    width: 120px;
    height: 120px;
}

.texto{
    margin: 10px;
    padding: 10px;
}

.um{
    padding: 50px;
    margin: 50px;
}